@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.woff2);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.woff2);
}
@font-face {
  font-family: "Lato-Bolditalic";
  src: url(../fonts/Lato-BoldItalic.woff2);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.woff2);
}
@font-face {
  font-family: "Rufina-Bold";
  src: url(../fonts/Rufina-Bold.woff2);
}
@font-face {
  font-family: "Rufina-Regular";
  src: url(../fonts/Rufina-Regular.woff2);
}
